<footer class="footer">
  <div class="container">
  <p class="pull-left">&copy; 2022 Shiba Divas' Puppies - All Rights Reserved</p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  <a href="https://www.facebook.com/Shiba-Divas-Puppies-113504120057055/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> &nbsp; 
  <a href="https://www.instagram.com/shibadivas1/"><i class="fa fa-instagram" aria-hidden="true"></i></a> &nbsp; 
  <a href="https://www.youtube.com/channel/UCDJ8TPEL7dtFiy7BTTu9CzA"><i class="fa fa-youtube-square" aria-hidden="true"></i></a> &nbsp; 
  <p class="pull-right">Powered by Resolute Web Solutions, LLC</p>
  </div>
</footer>
