<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7827027680902383",
      enable_page_level_ads: true
    });
  </script>
</head>
<div class="container mt-4">
<div>
<h3>Shipping Your Puppy</h3>
<p>If you are unable to come meet us in person and drive your new puppy home, we offer shipping, via most major Airlines.  
  <br><br>
  How it works: 
  <br><br>
  1. We need your full name, phone number, and address, like it is on your license, as well as your mailing address if its different.  
  (We like to have it as it is on your license because it makes it smoother when you get to the airport, and we need your mailing address to send you the puppy's 
  paperwork, as we don't send it on the plane with him or her). <br><br>  
  2. After we have this info, I will work on getting you the flight. This sometimes takes a few days, 
  as it depends some on the weather,  usually I get your flight details to you the week of shipping.  As soon as I get the shipping information I send it on to you, 
  this includes the Airway Bill number, flight numbers, and flight times, as well as an address and directions to the area you will need to go to pick up the puppy. 
  This is usually the cargo facility, but sometimes baggage depending on the size of your airport, and the time the flight arrives. <br><br> 
  3. I will send you a few links to track the puppy's progress, so you know for sure that the flight is not delayed etc. 
  Occasionally weather gets in the way and flights are delayed, if that happens you are welcome to give me a call, and I will track it for you!!  
  When the time arrives to go to the airport, it would be a good idea to take along a collar, leash, and a towel. 
  (we put a potty pad and newspapers in the kennel for the trip, but you may want to get rid of that and replace with a blanket or towel) 
  You will need your picture ID, and its a good idea to take along the airway bill number as well, as they use that to track if something were to go wrong.  
  Also please remember to shoot me a quick email or text, so that I know for sure that you have your new puppy and that he or she has made the trip safely!! ;) </p>
</div>
<br><br>
<h3>Frequently Asked Questions</h3>
<div>
    <p>Do you vaccinate your puppies?
    <br><br>
    Yes, our puppies get all the vaccinations they need up until the time they leave our premises. 
    <br><br>   
    Do the puppies come with full or limited AKC registration?
    <br><br>
    Yes, our puppies are AKC registered, unless otherwise noted, and yes we do offer full registration. We also offer the AKC Basic Puppy Registration Package to our buyers for no additional cost. 
    <br>   <br>
    When/How do I place a deposit?
    <br><br>
    As soon as you have settled on a puppy, its a good idea to get your deposit to us. (You are welcome to call or email at any time throughout the deciding process!!)  Sometimes there are several people looking at the same puppy, but whoever gets the deposit down first gets the puppy. We require $300.00 deposit, which comes out of the total cost of the dog.  When you are ready to make the payment, give me a call, or send an email to confirm that the puppy you are looking at is for sure available. Then I can send you a PayPal invoice, or you can call with your credit card info, or you are always welcome to set up an appointment to meet the pup in person and place your deposit then!! 
    <br><br>
    If I place a deposit, can it be refunded?
    <br><br>
    No, we don't refund deposits because of the time it takes to relist the puppies that we thought were sold, as well as the fact that if selling age is past it is harder to resell, and sometimes have to reduce prices.  However, if the puppy would get sick or have a genetic defect we would notify you and give you the option of refunding the deposit, or transferring it to a different puppy. 
    <br><br>
    At what age can I pickup my puppy?
    <br><br>
    Our puppies can't leave us until 8 weeks old. That is a USDA rule, so we can't let the puppy go anytime before that, not even a day or so.  
    <br><br>
    What food do you feed, and where can I find it?
    <br><br>
    We feed our puppies TLC Whole Life Pet Food. It is sold online only, that way they
    can keep it fresh (the food you buy from them was made within the last month for 
    sure, its so much fresher than what you buy in stores!!) Click on the picture for more 
    info, or visit http://www.tlcpetfood.com/65977-1025  We also have our puppies 
    started on NuVet Plus supplements, because they support the puppy's immune system,
    which is important especially during transition to their new home. NuVet also is great
    for overall health of the dog, great for their joints, and has even been proven to reduce 
    cancer!! Be sure to check it out, and read the testimonials at www.nuvet.com/54865
    <br><br>
    When does final payment take place?
    <br><br>
    If you are coming here to pick up your puppy, or if we are meeting, you are welcome to bring the cash along, or we can take credit card payments at the time of pickup.  
    If we are shipping the puppy to you we usually wait until after the flight details are confirmed to have you pay, just so that you are more comfortable with it. 
    (It must be paid in full a day or two before the puppy flies out) If you would rather get the payment out of the way sooner than that that is totally fine with me. 
    <br><br>   
    Do you have a guarantee or contract?
    <br><br>
    Yes we do! Here is a copy: 
    <br>
    "To the best of the breeders knowledge the puppy is in good health and free from any health defects. The puppy has been examined by a licensed veterinarian prior to the sale.
    This guarantee is only valid for the original purchaser and for 1 year from the puppy’s date of birth. If the puppy were to develop a life threatening genetic illness, and has 
    been diagnosed by 2 unassociated veterinarians and is unable to live a normal life, warranting euthanasia, a puppy of equal value will be given. No cash refund will be given. 
    Buyer is responsible for all shipping costs of replacement puppy. Buyer must send all paperwork to seller, and sellers vet must confirm the diagnosis before replacement puppy is given. 
    In case of death, buyer must present seller with proof of death, by way of an autopsy report, stating cause of death. If found to be due to a congenital 
    medical condition a replacement puppy of equal or greater value will be given.
    This guarantee does not cover Coccidia, Kennel Cough, Giardia, or environmental factors, such as Allergies, thyroid dysfunction, demodectic mange, and other auto immune disorders. 
    Guarantee also does not cover things considered normal to the breed purchased, such as but not limited to: entropion, cherry eye, loose knees/hips, stenotic nares (collapsed nostrils). 
    Seller is not responsible for ailments resulting from obesity, malnutrition, neglect, abuse, starvation, dehydration, stress, or lack of vaccinations given.
    Buyer is responsible to provide safe environment for the puppy, adequate exercise, diet, socialization, and vet care. All vet bills are responsibility of the buyer.
    In case any litigation need take place, it shall be done in in the county and state of breeder.
    <br><br>
    Terms and conditions: You must have your puppy on NuVet Plus supplements, and keep puppy up to date on vaccinations or the guarantee is null and void.
    <br><br>
    BY PURCHASING A PUPPY FROM SHIBA DIVAS' PUPPIES I ACKNOWLEDGE THAT I HAVE READ, UNDERSTAND, AND AGREE TO THE TERMS AND CONDITIONS OF THE GUARANTEE/CONTRACT".
    <br><br>
    If you have any other questions you are always welcome to call or text 
    <br><br>
    Ruth at 770-361-0820, or email, at shibadivaspuppies@gmail.com
</div>
</div>>
