<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M2VGGR3');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2VGGR3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container mt-4">
    <h2><b>The Four Different Shiba Colors</b></h2>
    <br>
    <h3><b>Red</b></h3>
    <br>
    <div class="row">
    <div class="col-md-4">
      <img [src]="red" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
    </div>
    <div class="col-md-8">
    <h4>
      <p class="text-justify">We also offer doggie day care ($35 per day) and dog boarding ($29 per night) for our clients.  We have a fenced in backyard
        and a large spacious area indoors for pets to play and chill comfortably.
      </p>
    </h4>
    </div>
    </div>
    <br>
    <h3 style="text-align:right"><b>Sesame</b></h3>
    <br>
    <div class="row">
    <div class="col-md-8">
    <h4>
      I am happy to visit your location as well to feed and play with your pet: $19 per visit.
    </h4>
    </div>
    <div class="col-md-4">
        <img [src]="sesame" alt="image" height="275" width="375" class="center img-thumbnail rounded-circle mx-auto">
      </div>
    </div>
    <br>
    <h3><b>Cream</b></h3>
    <br>
    <div class="row">
    <div class="col-md-4">
      <img [src]="cream" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
    </div>
    <div class="col-md-8">
    <h4>
      <p class="text-justify">I also offer dog walking for my clients: $19 per session.
      </p>
    </h4>
    </div>
    </div>
    <br>
    <h3><b>Black and Tan</b></h3>
    <br>
    <div class="row">
    <div class="col-md-4">
      <img [src]="blacktan" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
    </div>
    <div class="col-md-8">
    <h4>
      <p class="text-justify">I also offer dog walking for my clients: $19 per session.
      </p>
    </h4>
    </div>
    </div>
    <br>
    <br>
    <div>
      <h4>
        <p>Also, please check out my profile on Rover.com: https://www.rover.com/sit/ruthe83409
        </p>
      </h4>
    </div>
    <br>
  </div>
</body>


