<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7827027680902383",
      enable_page_level_ads: true
    });
  </script>
</head>
<div class="container mt-4">
  <div>
    <h3>Shiba Inu History</h3>
    <br>
    <p>The Shiba Inu (柴犬, Japanese: [ɕiba̠ inɯ̟ᵝ]) is the smallest of the six original and distinct spitz breeds of dog native to Japan.</p>
    
    <p>A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting. It looks similar to and is often mistaken for other 
    Japanese dog breeds like the Akita Inu or Hokkaido, but the Shiba Inu is a different breed with a distinct blood line, temperament and smaller size than other Japanese dog breeds.</p>
    <img [src]="history" alt="image" height="275" width="375" class="pull-left img-thumbnail">
    <p>The Shiba Inu has been identified as a basal breed that predates the emergence of the modern breeds in the 19th Century.<p>

    <p>Originally, the Shiba Inu was bred to hunt and flush small game, such as birds and rabbit. Shiba lived in the mountainous areas of the Chūbu region. 
    During the Meiji Restoration, western dog breeds were imported and crosses between these and native Japanese breeds became popular. From 1912 to 1926, almost no pure Shiba remained. 
    From around 1928, hunters and intellectuals began to show interest in the protection of the remaining pure Shiba; however, despite efforts to preserve the breed, 
    the Shiba nearly became extinct during World War II due to a combination of food shortage and a post-war distemper epidemic. All subsequent dogs were bred from the only 
    three surviving bloodlines. These bloodlines were the Shinshu Shiba from Nagano Prefecture, the Mino Shiba from the former Mino Province in the south of present-day Gifu Prefecture, 
    and the San'in Shiba from Tottori and Shimane Prefectures. The Shinshu Shibas possessed a solid undercoat, with a dense layer of guard-hairs, and were small and red in color.</p>
    <img [src]="history1" alt="image" height="475" width="350" class="pull-right img-thumbnail">   
    <p>The Mino Shibas tended to have thick, prick ears, and possessed a sickle tail, rather than the common curled tail found on most modern Shibas. The San'in Shibas were larger than most modern shibas, 
    and tended to be black, without the common tan and white accents found on modern black-and-tan shibas. When the study of Japanese dogs was formalized in the early and mid-20th century, 
    these three strains were combined into one overall breed, the Shiba Inu. The first Japanese breed standard for the Shiba, the Nippo Standard, was published in 1934. In December 1936, 
    the Shiba Inu was recognized as a Natural Monument of Japan through the Cultural Properties Act, largely due to the efforts of Nippo (Nihon Ken Hozonkai), the Association for the Preservation 
    of the Japanese Dog.</p>
    
    <p>In 1954, an armed service family brought the first Shiba Inu to the United States. In 1979, the first recorded litter was born in the United States. The Shiba was recognized by the American 
    Kennel Club in 1992 and added to the AKC Non-Sporting Group in 1993. It is now primarily kept as a pet both in Japan and abroad. According to the American Kennel Club, the Shiba 
    Inu is the number one companion dog in Japan. In the United States, the growing popularity of the Shiba Inu is evident as the American Kennel Club Registration Statistics ranked the breed 
    in 44th place in 2016; a rise from 50th place in 2012.</p>
  </div>
  <br><br>
</div>>
    
