<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7827027680902383",
      enable_page_level_ads: true
    });
  </script>
</head>

<div>
  <div class="text-center">
    <br>
      <p>A $550.00 non-refundable deposit will hold a puppy for you until they are old enough to leave their mommy. The deposit comes out of the balance. <br><br>
      We can also possibly ship the puppies to you for an additional $325.00. <br>
      Shoot me an email for details, and I will try to explain better. <br><br>
      You can email anytime to get on the waiting list!!  Normal price for a puppy is between $2,200.00 - $2,950.00. <br>
      That is less than half the price you will pay at Petland.<br>
      (We also charge Texas sales tax, which is 8.25%) We accept cash, Credit Cards, Venmo, Zelle or PayPal. 
      <br>For Credit card and Paypal transactions we will add a 5% transaction fee to the total. (No checks please)</p> <br>
  </div>

      <!--<div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <br>
          <img [src]="heidi" alt="image" class="center">
          <br>
        </div>
        <div class="col-md-2">
        </div>
      </div>-->

      <!--<div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
          <br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/M8wipU-EtUA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br>
          <br>
        </div>
        <div class="col-md-4">
          <br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/smRy4SW1SYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br>
          <br>
        </div>
        <div class="col-md-2">
        </div>
      </div>-->

    <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
            <img [src]="zach" alt="image" height="735" width="">
        </div>  
        <div class="col-md-4">
          <br>
          <h4>Unfortunately, No Puppies Currently Available</h4>
          <br>
          <p>Next Litter Expected in Jul/Aug 2021</p>
          <p>Click on the link below to secure your fur-baby from the next litter!</p>
          <a class="nav-link" [routerLink]="['/waitlist']"> Waiting List </a>
          <br>
          
        </div>
        <div class="col-md-2">
        </div>
      </div> 
<!--
      <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
          <img [src]="aang" alt="image" height="735" width="">
        </div>
        <div class="col-md-4">
          <br>
          <h4>Aang</h4>
          <p>Price: -- Family Found 2/10/21</p>
          <p>Born: January 11, 2021</p>
          <p>Available: March 11, 2021</p>
          <p>Personality: Shy and loving</p>
          <p>Parents: Teresa and Bruno</p>
          <br>
            
        </div>
        <div class="col-md-2">
        </div>
      </div>
    
      <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
          <img [src]="toph" alt="image" height="735" width="">
        </div>
        <div class="col-md-4">
          <br>
          <h4>Toph</h4>
          <p>Price: -- Family Found 2/1/2021</p>
          <p>Born: January 11, 2021</p>
          <p>Available: March 11, 2021</p>
          <p>Personality: Petite and playful</p>
          <p>Parents: Teresa and Bruno</p>
          <br>
            
        </div>
        <div class="col-md-2">
        </div>
      </div>
    
      <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
          <img [src]="sokka" alt="image" height="735" width="">
        </div>
        <div class="col-md-4">
          <br>
          <h4>Sokka</h4>
          <p>Price: -- Family Found 1/30/2021</p>
          <p>Born: January 11, 2021</p>
          <p>Available: March 11, 2021</p>
          <p>Personality: Big and sweet</p>
          <p>Parents: Teresa and Bruno</p>
          <br>
            
        </div>
        <div class="col-md-2">
        </div>
      </div>
    
      <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
          <img [src]="zuko" alt="image" height="735" width="">
        </div>
        <div class="col-md-4">
          <br>
          <h4>Zuko</h4>
          <p>Price: -- Family Found 2/13/2021</p>
          <p>Born: January 11, 2021</p>
          <p>Available: March 11, 2021</p>
          <p>Personality: Energetic and a howler</p>
          <p>Parents: Teresa and Bruno</p>
          <br>
            
        </div>
        <div class="col-md-2">
        </div>
      </div>
    
      <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
          <img [src]="iroh" alt="image" height="735" width="">
        </div>
        <div class="col-md-4">
          <br>
          <h4>Iroh</h4>
          <p>Price: -- Family Found 1/30/2021</p>
          <p>Born: January 11, 2021</p>
          <p>Available: March 11, 2021</p>
          <p>Personality: Cuddly and effervescent!</p>
          <p>Parents: Teresa and Bruno</p>
          <br>
            
        </div>
        <div class="col-md-2">
        </div>
      </div>
    -->
  