<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7827027680902383",
      enable_page_level_ads: true
    });
  </script>
</head>
<div>
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="zeedonk" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <!--<h4><a class="nav-link" [routerLink]="['/zeedonk']">Zeedonk</a></h4>-->
        <p><b><h3>Zeedonk</h3></b></p>
        <p><p>Personality: Loves to cuddle, chew on bones and sing. He is also very photogenic (as you can see) and regal in his overall demeanor.</p>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
          <img [src]="heidi" alt="image" height="735" width="1188">
        </div>
        <div class="col-md-4">
          <br>
          <!--<h4><a class="nav-link" [routerLink]="['/heidi']">Heidi</a></h4>-->
          <p><b><h3>Heidi</h3></b></p>
          <p><p>Personality: Loves to go on walks and meet new dogs. She is great with kids and incredibly curious.</p>
        </div>
        <div class="col-md-2">
        </div>
      </div>

      <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
          <img [src]="bruno" alt="image" height="735" width="1188">
        </div>
        <div class="col-md-4">
          <br>
          <!--<h4><a class="nav-link" [routerLink]="['/heidi']">Heidi</a></h4>-->
          <p><b><h3>Bruno</h3></b></p>
          <p><p>Personality: Loves to howl at passing sirens.  Very friendly and a great fetch partner.</p>
        </div>
        <div class="col-md-2">
        </div>
      </div>

      <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
          <img [src]="khalessi" alt="image" height="735" width="1188">
        </div>
        <div class="col-md-4">
          <br>
          <!--<h4><a class="nav-link" [routerLink]="['/heidi']">Heidi</a></h4>-->
          <p><b><h3>Khalessi</h3></b></p>
          <p><p>Personality: Playful, but reserved.  Very smart and great with kids.</p>
        </div>
        <div class="col-md-2">
        </div>
      </div>

      <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
          <img [src]="teresa" alt="image" height="735" width="1188">
        </div>
        <div class="col-md-4">
          <br>
          <!--<h4><a class="nav-link" [routerLink]="['/heidi']">Heidi</a></h4>-->
          <p><b><h3>Teresa</h3></b></p>
          <p><p>Personality: Loyal and caring.  Loves to cuddle up and watch TV.</p>
        </div>
        <div class="col-md-2">
        </div>
      </div>
  
  </div>
  <br>