<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7827027680902383",
      enable_page_level_ads: true
    });
  </script>
</head>
<div>

  <div class="row border">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <img [src]="joey" alt="image" height="735" width="">
    </div>
    <div class="col-md-4">
      <br>
      <h4>Joey</h4>
      <p>Price: -- Family Found 11/17/2019</p>
      <p>Born: September 11, 2019</p>
      <p>Available: November 11, 2019</p>
      <p>Personality: Very protective and not afraid to howl when needed</p>
      <p>Parents: Heidi and Zeedonk</p>
      <br>
        
    </div>
    <div class="col-md-2">
    </div>
  </div>

  <div class="row border">
      <div class="col-md-2">
      </div>
      <!-- <div class="col-md-6" [routerLink]="['/zack/']">
        <img [src]="zach" alt="image" height="735" width=""></div> -->
      <div class="col-md-6">
          <img [src]="zach" alt="image" height="735" width="">
      </div>  
      <div class="col-md-4">
        <br>
        <h4><a class="nav-link" [routerLink]="['/zack']">Zack</a></h4>
        <p>Price: -- Family Found 11/16/2019</p>
        <p>Born: September 11, 2019</p>
        <p>Available: November 11, 2019</p>
        <p>Personality: Still a little shy, but very curious</p>
        <p>Parents: Heidi and Zeedonk</p>
        <br>
        
      </div>
      <div class="col-md-2">
      </div>
    </div>

  <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="chandler" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <p><b><h3>Chandler</h3></b></p>
        <p>Price: -- Family Found 11/6/19</p>
        <p>Born: September 11, 2019</p>
        <p>Available: November 11, 2019</p>
        <p>Personality: Always ready to play</p>
        <p>Parents: Heidi and Zeedonk</p>
        
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
          <img [src]="rachel" alt="image" height="735" width="">
        </div>
        <div class="col-md-4">
          <br>
          <p><b><h3>Rachel</h3></b></p>
          <p>Price: -- Family Found 9/21/19</p>
          <p>Born: September 11, 2019</p>
          <p>Available: November 11, 2019</p>
          <p>Personality: A diva for sure, but very fun-loving</p>
          <p>Parents: Heidi and Zeedonk</p>
          
        </div>
        <div class="col-md-2">
        </div>
      </div>

      <div class="row border">
          <div class="col-md-2">
          </div>
          <div class="col-md-6">
            <img [src]="penny" alt="image" height="735" width="">
          </div>
          <div class="col-md-4">
            <br>
            <p><b><h3>Penny</h3></b></p>
            <p>Price: -- Family Found 4/22/19</p>
            <p>Born: February 17, 2019</p>
            <p>Available: April 11, 2019</p>
            <p>Personality: Caring, loves food and children</p>
            <p>Parents: Heidi and Zeedonk</p>
          </div>
          <div class="col-md-2">
          </div>
        </div>

        <div class="row border">
            <div class="col-md-2">
            </div>
            <div class="col-md-6">
              <img [src]="tessa" alt="image" height="735" width="">
            </div>
            <div class="col-md-4">
              <br>
              <p><b><h3>Tessa</h3></b></p>
              <p>Price: -- Family Found 4/20/19</p>
              <p>Born: February 17, 2019</p>
              <p>Available: April 11, 2019</p>
              <p>Personality: Energetic, Playful and loves attention</p>
              <p>Parents: Heidi and Zeedonk</p>
            </div>
            <div class="col-md-2">
            </div>
          </div>

  </div>
  <br>
