<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M2VGGR3');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2VGGR3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="hiccup" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Hiccup</h4>
        <p>Price: -- Family found 9/4/2023</p>
        <p>Type: Red Male</p>
        <p>Born: Aug 18, 2023</p>
        <p>Available: Oct 18, 2023</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Mina and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="astrid" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Astrid</h4>
        <p>Price: -- Family found 9/27/2023</p>
        <p>Type: Red Female</p>
        <p>Born: Aug 18, 2023</p>
        <p>Available: Oct 18, 2023</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Mina and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="shania" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Shania</h4>
        <p>Price: -- Family found 9/30/2023</p>
        <p>Type: Red Female</p>
        <p>Born: Aug 18, 2023</p>
        <p>Available: Oct 18, 2023</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Mina and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="maria" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Maria</h4>
        <p>Price: -- Family found 10/7/2023</p>
        <p>Type: Red Female</p>
        <p>Born: Aug 18, 2023</p>
        <p>Available: Oct 18, 2023</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Mina and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="percy" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Percy</h4>
        <p>Price: -- Family found 4/12/2023</p>
        <p>Type: Red Male</p>
        <p>Born: Mar 10, 2023</p>
        <p>Available: May 10, 2023</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="anabeth" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Annabeth</h4>
        <p>Price: -- Family found 5/9/2023</p>
        <p>Type: Red Female</p>
        <p>Born: Mar 10, 2023</p>
        <p>Available: May 10, 2023</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="hazel" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Hazel</h4>
        <p>Price: -- Family found 5/3/2023</p>
        <p>Type: Red Female</p>
        <p>Born: Mar 10, 2023</p>
        <p>Available: May 10, 2023</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="bianca" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Bianca</h4>
        <p>Price: -- Family found 6/9/2023</p>
        <p>Type: Red Female</p>
        <p>Born: Mar 10, 2023</p>
        <p>Available: May 10, 2023</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="edith1" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Edith</h4>
        <p>Price: -- Family found 4/10/2023</p>
        <p>Type: Red Female</p>
        <p>Born: Oct 26, 2022</p>
        <p>Available: Dec 23, 2022</p>
        <p>Personality: Caring and curious</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="taylor1" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Taylor</h4>
        <p>Price: -- Family found 4/10/2023</p>
        <p>Type: Red Female</p>
        <p>Born: Oct 26, 2022</p>
        <p>Available: Dec 23, 2022</p>
        <p>Personality: Sassy and outgoing</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="vector1" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Vector</h4>
        <p>Price: -- Family found 1/17/23</p>
        <p>Type: Red Male</p>
        <p>Born: Oct 26, 2022</p>
        <p>Available: Dec 23, 2022</p>
        <p>Personality: A big teddy bear: loves to cuddle and reserved</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="agnes1" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Agnes</h4>
        <p>Price: -- Family found 12/4/2022</p>
        <p>Type: Black and Tan Female</p>
        <p>Born: Oct 26, 2022</p>
        <p>Available: Dec 23, 2022</p>
        <p>Personality: Always ready to play and very fast</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="gru1" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Gru</h4>
        <p>Price: -- Family found 1/9/2023</p>
        <p>Type: Black and Tan Male</p>
        <p>Born: Oct 26, 2022</p>
        <p>Available: Dec 23, 2022</p>
        <p>Personality: Quiet lap dog vibes</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="bob1" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Bob</h4>
        <p>Price: -- Family found 12/30/22</p>
        <p>Type: Red Male</p>
        <p>Born: Oct 26, 2022</p>
        <p>Available: Dec 23, 2022</p>
        <p>Personality: Friendly and has extreme talent for making shiba noises</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="denji1" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Denji</h4>
        <p>Price: -- Family found 11/20/2022</p>
        <p>Type: Red Male</p>
        <p>Born: Sept 5, 2022</p>
        <p>Available: Nov 5, 2022</p>
        <p>Personality: Carefree and fun-loving</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="makima1" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Makima</h4>
        <p>Price: -- Family found 11/15/2022</p>
        <p>Type: Red Female</p>
        <p>Born: Sept 5, 2022</p>
        <p>Available: Nov 5, 2022</p>
        <p>Personality: Always nibbling and active</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="power1" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Power</h4>
        <p>Price: -- Family found 11/13/2022</p>
        <p>Type: Red Female</p>
        <p>Born: Sept 5, 2022</p>
        <p>Available: Nov 5, 2022</p>
        <p>Personality: Fiesty and fun!</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="aki" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Aki</h4>
        <p>Price: -- Family found 10/8/2022</p>
        <p>Type: Red Male</p>
        <p>Born: Sept 5, 2022</p>
        <p>Available: Nov 5, 2022</p>
        <p>Personality: Strong and playful</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="himeno" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Himeno</h4>
        <p>Price: -- Family found 9/27/2022</p>
        <p>Type: Red Female</p>
        <p>Born: Sept 5, 2022</p>
        <p>Available: Nov 5, 2022</p>
        <p>Personality: Nice and good-willed</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="dean" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Dean</h4>
        <p>Price: -- Family found 10/9/2022</p>
        <p>Type: Red Male</p>
        <p>Born: Sept 16, 2022</p>
        <p>Available: Nov 16, 2022</p>
        <p>Personality: Happy go-lucky</p>
        <p>Parents: Khalessi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="jess" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Jess</h4>
        <p>Price: -- Family found 10/5/2022</p>
        <p>Type: Black and Tan Male</p>
        <p>Born: Sept 16, 2022</p>
        <p>Available: Nov 16, 2022</p>
        <p>Personality: Slick and calm</p>
        <p>Parents: Khalessi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="rory" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Rory</h4>
        <p>Price: -- Family found 9/27/2022</p>
        <p>Type: Black and Tan Female</p>
        <p>Born: Sept 16, 2022</p>
        <p>Available: Nov 16, 2022</p>
        <p>Personality: Beautiful and she knows it</p>
        <p>Parents: Khalessi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="annie" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Annie</h4>
        <p>Price: -- Family found 5/31/2022</p>
        <p>Type: Red Female</p>
        <p>Born: March 29, 2022</p>
        <p>Available: May 29, 2022</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="armin" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Armin</h4>
        <p>Price: -- Family found 4/15/2022</p>
        <p>Type: Red Male</p>
        <p>Born: March 29, 2022</p>
        <p>Available: May 29, 2022</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="eren" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Eren</h4>
        <p>Price: -- Family found 4/26/2022</p>
        <p>Type: Red Male</p>
        <p>Born: March 29, 2022</p>
        <p>Available: May 29, 2022</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="levi" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Levi</h4>
        <p>Price: -- Family found 4/17/2022</p>
        <p>Type: Black and Tan Male</p>
        <p>Born: March 29, 2022</p>
        <p>Available: May 29, 2022</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="mikasa" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Mikasa</h4>
        <p>Price: -- Family found 5/22/2022</p>
        <p>Type: Red Female</p>
        <p>Born: March 29, 2022</p>
        <p>Available: May 29, 2022</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="sasha" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Sasha</h4>
        <p>Price: -- Family found 6/7/2022</p>
        <p>Type: Red Female</p>
        <p>Born: March 29, 2022</p>
        <p>Available: May 29, 2022</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="gon" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Gon</h4>
        <p>Price: -- Family Found 2/26/2022</p>
        <p>Type: Sesame</p>
        <p>Born: January 16, 2022</p>
        <p>Available: March 16, 2022</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Angelina and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="killua" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Killua</h4>
        <p>Price: -- Family Found 3/1/2022</p>
        <p>Type: Sesame</p>
        <p>Born: January 16, 2022</p>
        <p>Available: March 16, 2022</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Angelina and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="kurapika" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Kurapika</h4>
        <p>Price: -- Family found 2/5/2022</p>
        <p>Type: Red</p>
        <p>Born: January 16, 2022</p>
        <p>Available: March 16, 2022</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Angelina and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="mina" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Mina</h4>
        <p>Price: -- Family Found 12/6/2021</p> 
        <p>Type: Black and Tan</p>
        <p>Born: September 26, 2021</p>
        <p>Available: November 27, 2021</p>
        <p>Personality: Loves to be center-of-attention!</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="momo" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Momo</h4>
        <p>Price: -- Family Found 10/23/2021</p>
        <p>Type: Black and Tan</p>
        <p>Born: September 26, 2021</p>
        <p>Available: November 27, 2021</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="deku" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Deku</h4>
        <p>Price: -- Family Found 10/21/2021</p>
        <p>Type: Red</p>
        <p>Born: September 26, 2021</p>
        <p>Available: November 27, 2021</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div> 

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="jirou" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Jirou</h4>
        <p>Price: -- Family Found 10/21/2021</p>
        <p>Type: Red</p>
        <p>Born: September 26, 2021</p>
        <p>Available: November 27, 2021</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>


    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="todoroki" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Todoroki</h4>
        <p>Price: -- Family Found 10/21/2021</p>
        <p>Type: Black and Tan</p>
        <p>Born: September 26, 2021</p>
        <p>Available: November 27, 2021</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="bakugo" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Bakugo</h4>
        <p>Price: -- Family Found 10/20/2021</p>
        <p>Type: Black and Tan</p>
        <p>Born: September 26, 2021</p>
        <p>Available: November 27, 2021</p>
        <p>Personality: Still developing...</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div> 

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="sasuke" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Sasuke</h4>
        <p>Price: -- Family Found 6/26/2021</p>
        <p>Type: Red</p>
        <p>Born: June 4, 2021</p>
        <p>Available: August 4, 2021</p>
        <p>Personality: Energetic and fiesty</p>
        <p>Parents: Khalessi and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="naruto" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Naruto</h4>
        <p>Price: -- Family Found 6/22/2021</p>
        <p>Type: Red</p>
        <p>Born: June 4, 2021</p>
        <p>Available: August 4, 2021</p>
        <p>Personality: Calm and collected</p>
        <p>Parents: Khalessi and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="kakashi" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Kakashi</h4>
        <p>Price: -- Family Found 6/22/2021</p>
        <p>Type: Red</p>
        <p>Born: June 4, 2021</p>
        <p>Available: August 4, 2021</p>
        <p>Personality: The pretty boy!</p>
        <p>Parents: Khalessi and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="itachi" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Itachi</h4>
        <p>Price: -- Family Found 6/22/2021</p>
        <p>Type: Red</p>
        <p>Born: June 4, 2021</p>
        <p>Available: August 4, 2021</p>
        <p>Personality: Always hungry!</p>
        <p>Parents: Khalessi and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="jaraiya" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Jaraiya</h4>
        <p>Price: -- Family Found 6/22/2021</p>
        <p>Type: Red</p>
        <p>Born: June 4, 2021</p>
        <p>Available: August 4, 2021</p>
        <p>Personality: Full of Energy</p>
        <p>Parents: Khalessi and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>

    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="aang" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Aang</h4>
        <p>Price: -- Family Found 2/10/21</p>
        <p>Type: Red</p>
        <p>Born: January 11, 2021</p>
        <p>Available: March 11, 2021</p>
        <p>Personality: Shy and loving</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="toph" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Toph</h4>
        <p>Price: -- Family Found 2/1/2021</p>
        <p>Type: Sesame</p>
        <p>Born: January 11, 2021</p>
        <p>Available: March 11, 2021</p>
        <p>Personality: Petite and playful</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="sokka" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Sokka</h4>
        <p>Price: -- Family Found 1/30/2021</p>
        <p>Type: Sesame</p>
        <p>Born: January 11, 2021</p>
        <p>Available: March 11, 2021</p>
        <p>Personality: Big and sweet</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="zuko" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Zuko</h4>
        <p>Price: -- Family Found 2/13/2021</p>
        <p>Type: Sesame</p>
        <p>Born: January 11, 2021</p>
        <p>Available: March 11, 2021</p>
        <p>Personality: Energetic and a howler</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="iroh" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Iroh</h4>
        <p>Price: -- Family Found 1/30/2021</p>
        <p>Type: Sesame</p>
        <p>Born: January 11, 2021</p>
        <p>Available: March 11, 2021</p>
        <p>Personality: Cuddly and effervescent!</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="jimbo" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Jimbo</h4>
        <p>Price: -- Family Found 9/24/2020</p>
        <p>Type: Black and Tan</p>
        <p>Born: September 5, 2020</p>
        <p>Available: November 5, 2020</p>
        <p>Personality: A howler who likes teasing other</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="claire" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Claire</h4>
        <p>Price: -- Family Found 10/4/2020</p>
        <p>Type: Black and Tan</p>
        <p>Born: September 5, 2020</p>
        <p>Available: November 5, 2020</p>
        <p>Personality: Curious and prissy</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="toby" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Toby</h4>
        <p>Price: -- Family Found 9/25/2020</p>
        <p>Type: Red</p>
        <p>Born: September 5, 2020</p>
        <p>Available: November 5, 2020</p>
        <p>Personality: Kingly</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="damon" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Damon</h4>
        <p>Price: -- Family Found 9/26/2020</p>
        <p>Type: Red</p>
        <p>Born: September 4, 2020</p>
        <p>Available: November 4, 2020</p>
        <p>Personality: Authoritative</p>
        <p>Parents: Khalessi and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="isabella" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Isabella</h4>
        <p>Price: -- Family Found 9/28/2020</p>
        <p>Type: Red</p>
        <p>Born: September 4, 2020</p>
        <p>Available: November 4, 2020</p>
        <p>Personality: Prissy</p>
        <p>Parents: Khalessi and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <!-- <div class="col-md-6" [routerLink]="['/zack/']">
        <img [src]="zach" alt="image" height="735" width=""></div> -->
      <div class="col-md-6">
          <img [src]="adalind" alt="image" height="735" width="">
      </div>  
      <div class="col-md-4">
        <br>
        <h4>Adalind</h4>
        <p>Price: -- Family Found 9/27/2020</p>
        <p>Type: Red</p>
        <p>Born: September 4, 2020</p>
        <p>Available: November 4, 2020</p>
        <p>Personality: Beautiful and cuddly</p>
        <p>Parents: Khalessi and Zeedonk</p>
        <br>
        
      </div>
      <div class="col-md-2">
      </div>
    </div>
    
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="erin" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Xena</h4>
        <p>Price: -- Family Found 3/15/2020</p>
        <p>Type: Black and Tan</p>
        <p>Born: March 4, 2020</p>
        <p>Available: May 4, 2020</p>
        <p>Personality: Loving</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="pete" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Pete</h4>
        <p>Price: -- Family Found 3/24/2020</p>
        <p>Type: Red</p>
        <p>Born: March 4, 2020</p>
        <p>Available: May 4, 2020</p>
        <p>Personality: Regal w/ lots of love to give</p>
        <p>Parents: Teresa and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="michael" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Yuki</h4>
        <p>Price: -- Family Found 3/14/2020</p>
        <p>Type: Red</p>
        <p>Born: February 24, 2020</p>
        <p>Available: April 24, 2020</p>
        <p>Personality: Inquisitive and a bit of an escape artist</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="angela" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Angela</h4>
        <p>Price: -- Family Found 3/10/2020</p>
        <p>Type: Black and Tan</p>
        <p>Born: February 24, 2020</p>
        <p>Available: April 24, 2020</p>
        <p>Personality: Playful and protective</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="dwight" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Dwight</h4>
        <p>Price: -- Family Found 3/18/2020</p>
        <p>Type: Red</p>
        <p>Born: February 24, 2020</p>
        <p>Available: April 24, 2020</p>
        <p>Personality: Goofy, with serious side when food is around</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="jim" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Jim</h4>
        <p>Price: -- Family Found 3/22/2020</p>
        <p>Type: Red</p>
        <p>Born: February 24, 2020</p>
        <p>Available: April 24, 2020</p>
        <p>Personality: All-knowing</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="pam" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Pam</h4>
        <p>Price: -- Family Found 3/9/2020</p>
        <p>Type: Black and Tan</p>
        <p>Born: February 24, 2020</p>
        <p>Available: April 24, 2020</p>
        <p>Personality: Sassy</p>
        <p>Parents: Heidi and Bruno</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="joey" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <h4>Joey</h4>
        <p>Price: -- Family Found 11/17/2019</p>
        <p>Type: Red</p>
        <p>Born: September 11, 2019</p>
        <p>Available: November 11, 2019</p>
        <p>Personality: Very protective and not afraid to howl when needed</p>
        <p>Parents: Heidi and Zeedonk</p>
        <br>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <!-- <div class="col-md-6" [routerLink]="['/zack/']">
        <img [src]="zach" alt="image" height="735" width=""></div> -->
      <div class="col-md-6">
          <img [src]="zach" alt="image" height="735" width="">
      </div>  
      <div class="col-md-4">
        <br>
        <h4><a class="nav-link" [routerLink]="['/zack']">Zack</a></h4>
        <p>Price: -- Family Found 11/16/2019</p>
        <p>Type: Red</p>
        <p>Born: September 11, 2019</p>
        <p>Available: November 11, 2019</p>
        <p>Personality: Still a little shy, but very curious</p>
        <p>Parents: Heidi and Zeedonk</p>
        <br>
        
      </div>
      <div class="col-md-2">
      </div>
    </div>
    
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="chandler" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <p><b><h3>Chandler</h3></b></p>
        <p>Price: -- Family Found 11/6/19</p>
        <p>Type: Red</p>
        <p>Born: September 11, 2019</p>
        <p>Available: November 11, 2019</p>
        <p>Personality: Always ready to play</p>
        <p>Parents: Heidi and Zeedonk</p>
          
      </div>
      <div class="col-md-2">
      </div>
    </div>
    
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="rachel" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <p><b><h3>Rachel</h3></b></p>
        <p>Price: -- Family Found 9/21/19</p>
        <p>Type: Red</p>
        <p>Born: September 11, 2019</p>
        <p>Available: November 11, 2019</p>
        <p>Personality: A diva for sure, but very fun-loving</p>
        <p>Parents: Heidi and Zeedonk</p>
        
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="penny" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <p><b><h3>Penny</h3></b></p>
        <p>Price: -- Family Found 4/22/19</p>
        <p>Type: Red</p>
        <p>Born: February 17, 2019</p>
        <p>Available: April 11, 2019</p>
        <p>Personality: Caring, loves food and children</p>
        <p>Parents: Heidi and Zeedonk</p>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="tessa" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <p><b><h3>Tessa</h3></b></p>
        <p>Price: -- Family Found 4/20/19</p>
        <p>Type: Red</p>
        <p>Born: February 17, 2019</p>
        <p>Available: April 11, 2019</p>
        <p>Personality: Energetic, Playful and loves attention</p>
        <p>Parents: Heidi and Zeedonk</p>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    
    </div>
    <br>
  
</body>
