<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7827027680902383",
      enable_page_level_ads: true
    });
  </script>
</head>
<div>
  <div class="row border">
      <div class="col-6 text-left">
          <a class="nav-link" [routerLink]="['/puppy']"><h4><i class="fa fa-arrow-left"></i></h4></a>
        </div>
        <h3>More of Zack</h3>
  </div>

      <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/M8wipU-EtUA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br>
          <br>
        </div>
        <div class="col-md-2">
        </div>
      </div>

      <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <img [src]="zack3" alt="image" height="735" width="" class="img-fluid" >
        </div> &nbsp;
        <div class="col-md-4">
          <img [src]="zack4" alt="image" height="735" width="" class="img-fluid" >
        </div> 
        <div class="col-md-2">
        </div>
      </div>

      <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <img [src]="zack5" alt="image" height="735" width="" class="img-fluid" >
        </div> &nbsp; 
        <div class="col-md-4">
          <img [src]="zack6" alt="image" height="735" width="" class="img-fluid" >
        </div>
        <div class="col-md-2">
        </div>
      </div>


  </div>
  <br>
