<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7827027680902383",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <div class="container mt-4">
      <h2><b>Pet Services</b></h2>
      <br>
      <h3><b>Doggie Day Care / Dog Boarding</b></h3>
      <br>
      <div class="row">
      <div class="col-md-4">
        <img [src]="rover" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
      </div>
      <div class="col-md-8">
      <h4>
        <p class="text-justify">We also offer doggie day care ($35 per day) and dog boarding ($29 per night) for our clients.  We have a fenced in backyard
          and a large spacious area indoors for pets to play and chill comfortably.
        </p>
      </h4>
      </div>
      </div>
      <br>
      <h3 style="text-align:right"><b>Drop In Visits</b></h3>
      <br>
      <div class="row">
      <div class="col-md-8">
      <h4>
        I am happy to visit your location as well to feed and play with your pet: $19 per visit.
      </h4>
      </div>
      <div class="col-md-4">
          <img [src]="rover1" alt="image" height="275" width="375" class="center img-thumbnail rounded-circle mx-auto">
        </div>
      </div>
      <br>
      <h3><b>Dog Walking</b></h3>
      <br>
      <div class="row">
      <div class="col-md-4">
        <img [src]="walking" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
      </div>
      <div class="col-md-8">
      <h4>
        <p class="text-justify">I also offer dog walking for my clients: $19 per session.
        </p>
      </h4>
      </div>
      </div>
      <br>
      <br>
      <div>
        <h4>
          <p>Also, please check out my profile on Rover.com: https://www.rover.com/sit/ruthe83409
          </p>
        </h4>
      </div>
      <br>
  </div>
