<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M2VGGR3');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2VGGR3"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container mt-4">
        <h2><b>Shiba Divas' Blog</b></h2>
        <br>

        <h3><b>Sunday - 8 August 2021 -- Persephone Return</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="nasa1" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Hello Shiba Friends!  Today Persephone came back from Space Camp! Yay! We are so happy to have her home.  Also, we would like to welcome Brandon F. to the Shiba Divas' family.  
                    He and his family joined the waiting list today.  It is also bitter-sweet time for us here at Shiba Divas' because all the puppies from Khalessi's last litter left for their
                    forever homes this weekend.  We will miss them for sure, but are excited for all the new Shiba families out there.  We are very grateful you chose to get your Shiba from us!  
                    Many shiba thanks!
                <br><br>
                
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SMW88uJZVfk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>From the stairs -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>

        <h3><b>Sunday - 1 August 2021 -- Sasuke!</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="sasuke3" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
                <img [src]="sasuke4" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Hello Shiba Friends!  Today Persephone flew out to Space Camp in Huntsville!  We already miss her terribly, but the good news for you guys is she took
                    some pics and videos prior to leaving.  Also, we would like to welcome Andrew K. to the Shiba Divas' family.  
                    He and his family joined the waiting list today.  Moreover, as for all our expecting fur-parents, the wait is almost over.  The puppies 
                    can go home with you this week.  We sent emails out today, so be sure to check your inbox.  Also, we officially started 
                    potty-training of the puppies last week.  It is still a work-in-progress, but they are starting to get the hang of it. 
                <br><br>
                
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/61C_BFhsK0c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>Zeedonk marking his territory -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>

        <h3><b>Monday - 19 July 2021 -- Naruto!</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="naruto3" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
                <img [src]="naruto4" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Hiyo Shiba Friends!  Today we have some new pictures of Naruto!  Also, we are excited to announce that both 
                Heidi and Teresa are now in heat!!    
                <br><br>
                
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/4tj8SYLogvM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>Puppy Pack -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>

        <h3><b>Monday - 5 July 2021 -- Itachi!</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="itachi1" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
                <img [src]="itachi2" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Hiyo Shiba Friends!  Today we are featuring some new pics of the Itachi!       
                <br><br>
                
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/vo7FoQ3VHdc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>Shiba Swimming in Air -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>

        <h3><b>Sunday - 4 July 2021 -- Jaraiya!</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="jaraiya1" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
                <img [src]="jaraiya2" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Hello Shiba Friends!  Some new pics of Jaraiya!    
                <br><br>
                
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TM5uqEz5RyE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>Shiba pups playing -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>

        <h3><b>Saturday - 3 July 2021 -- Naruto!</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="naruto1" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
                <img [src]="naruto2" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Hiyo Shiba Friends!  Some new pictures of Naruto!   
                <br><br>
                
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/L1fbty3Bvhg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>Puppies play fighting -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>

        <h3><b>Friday - 2 July 2021 -- Kakashi!</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="kakashi1" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
                <img [src]="kakashi2" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Hiyo Shiba Friends!  New pictures of Kakashi!       
                <br><br>
                
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Q1W5KDWngg0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>Puppy getting cozy -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>

        <h3><b>Thursday - 1 July 2021 -- Sasuke!</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="sasuke1" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
                <img [src]="sasuke2" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Hello Shiba Friends!  Sorry it has been a few days since we have posted.  But we are here today with some new pics and a 
                new video.  Khalessi's puppies are starting to get really playful now, so we are definitely going to try to take more videos
                of their activities over the next few weeks.        
                <br><br>
                
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/-bdLGtjhpQY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>Angry Puppies -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>

        <h3><b>Monday - 28 June 2021 -- Kakashi!</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="todoroki" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
                <img [src]="lappuppies" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Happy Monday Shiba friends!  It was great meeting with Jeremy and Irene R. today. We think they will be great fur-parents for Kakashi.  
                In addition, my sister and Dad just got back from Nashville today.  She was at a lacrosse tournament there over the weekend.  
                Here are a few pictures of her.  Apparently, she found a todoroki plushie on the way there that she just had to have and she just had to hug 
                all the puppies when she got back.  Also, congratulations to Helen!  Her team won the Music City Classic tournament there.         
                <br><br>
                
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3W2V4PW7tvs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>Demon Slayer Intro -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>

        <h3><b>Friday - 25 June 2021 -- Sasuke finds forever home!</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="hug" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
                <img [src]="bath" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Hello Shiba friends!  Today we have some throw back pics of Zeedonk: me hugging him and Zeedonk getting a bath!  In addition we would
                like to welcome Marc L. officially into the Shiba Divas' Family.  Today he decided to adopt Sasuke!  Congrats!   
                <br><br>
                
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Uo25EuIRlKA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>Puppy kisses -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>

        <h3><b>Thursday - 24 June 2021 -- More pics of puppies</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="sasuke" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
                <img [src]="kakashi" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Happy Shiba Thursday!  Today we have some more pics of Sasuke and Kakashi.    
                <br><br>
                
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Nym1bWbArIs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>Puppy pile -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>

        <h3><b>Wednesday - 23 June 2021 -- More pics of puppies</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="pic1" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
                <img [src]="pfchang" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Good Wednesday from Shiba Divas!  Our family went on a long bike ride today.  We wanted PF Chang today and my Dad decided he would make 
                us work for it.  So long story short, we rode bikes for like 15 miles today.  Too long and too hot!  But we did get to see
                some awesome trails and of course eat PF Chang at the halfway point.  We love the chicken lettuce wraps there.  
                The good news is that in spite of being a bit exhausted, we did have some time to upload a few puppy pics and a new YouTube Video.  
                <br><br>
                In other news, Shahira K. set up her visit to see Sasuke tomorrow.  We are so excited to see her again and meet her mom.
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/G3P5PDOdh30" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>Another Khalessi Litter YouTube update -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>

        <h3><b>Tuesday - 22 June 2021 -- Puppy Update and the Ritz-Caper</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="ritz" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Happy Tuesday from Shiba Divas!  Today was an exciting day.  Kakashi, Itachi, Jaraiya and Naruto found their forever homes today. 
                We got to meet Mrs. Leeanne and her family in person when they were choosing Itachi.  It turns out her husband is a big 
                Naruto fan like my sister.  
                <br><br>
                Also, we had a bit of a caper in the house today.  Here is a picture of Khalessi (our resident escape-artist) enjoying her plunder.  She somehow got a hold of my dad's Ritz stash and went
                to her favortie spot on the couch to enjoy.  My mom caught her when she got home.  All of our Shiba's love Ritz.  I am not sure why, but they do!  If they even hear the 
                rustle of the bag now, they go crazy.
                </p>
                <br>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/RICk73es-6E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>Khalessi w/ her Ritz -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>
        
        <h3><b>Monday - 21 June 2021 -- Our first blog post!</b></h3>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img [src]="pz" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
                <br>
            </div>
            <div class="col-md-8"> 
                <p>Good morning everyone from Shiba Divas!  We are so excited to announce the kick off of our blog today.  
                We often get questions about our fur-babies and we thought this would be a good way to keep everyone up-to-date and
                also share some of the hilarious antics of our little shiba pack.  We get to see them every day, and it seems selfish
                to keep them all to ourselves.  
                <br>Also, we thought this would be a great way to keep our waiting list fur-baby parents updated while
                they are waiting for their fur-baby.  
                <br>Our post today is going to focus on Khalessi's new litter of puppies. They were born on 6/4/2021 and just so adorable!  
                We are currently working our way down the waiting list to finalize their forever homes.  Please click the link for the 
                corresponding youtube video for this blog post.
                <br>FYI - Our cousins are visiting from out of town, so you may see them in some of the videos we post over the 
                next few weeks.  
                </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/msBPo_l3s4E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>See what happens when shibas take on the titans in Attack on Titan -- Click Left! 
                </p>
                
                <br>
                <br>
            </div>
        </div>
        <br>
        <br>
        <br>
      </div>
</body>

