<head>
</head>
  <div class="container mt-4">
      <h2><b>Wait List</b></h2>
      <br>
      <div class="row">
      <div class="col-md-4">
        <img [src]="waitlist" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
      </div>
      <div class="col-md-8">
      <h4>
        <p class="text-justify">If you found us at a time when we do not have any puppies available, then please feel free to join our wait list.  We provide this service 
          on a first come, first serve basis.  
        </p>
      </h4>
      </div>
      </div>
      <br>
      <h3><b>How does it work?</b></h3>
      <br>
      <div class="row">
      <div class="col-md-12">
      <h4>
        It works as follows:<br><br>
        1. Send an email to <b>shibadivaspuppies@gmail.com</b> requesting a spot on the waiting list.  <br>
            - Please include all relevant contact info in your email. <br>
            - If you have any preferences (boy or girl, sesame or red, etc), please specify in the email<br><br>
        2. I will then review your email and respond with your wait list number and estimated litter date.<br><br>
        3. I will periodically email the updated wait list out to waiting fur-parents (i.e. at a later date, I am also working on a way to add it to the website) <br><br>
        4. Once your number has come up, we will contact you with the good news and at that time you will be able to place a deposit down on your fur-baby.<br>
            - Once the deposit is made, the puppy is held just for you until he/she is ready to make the journey to your location.<br>
            - Per our terms, deposits are non-refundable.<br>
             <br>
      </h4>
      </div>

      <div class="row">
        <h4><u>Current Wait List</u></h4>
        <br>
        <br>
        <table class="table border">
          <tr>
            <th style="width: 15%">No</th>
            <th style="width: 20%">Name</th>
            <th style="width: 20%">Litter TimeFrame</th>
            <th style="width: 20%">Special Requests</th>
            <th style="width: 20%">Notes</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Phirum U.</td>
            <td>May/Jun 2020</td>
            <td>Red/Sesame Female</td>
            <td>None</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Alice K.</td>
            <td>May/Jun 2020</td>
            <td>Khalessi and Zeedonk Parents</td>
            <td>None</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Amber V.</td>
            <td>May/Jun 2020</td>
            <td>Cream Female</td>
            <td>None</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Rogelio S.</td>
            <td>May/Jun 2020</td>
            <td>Tan Male</td>
            <td>None</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Khosrow Z.</td>
            <td>May/Jun 2020</td>
            <td>None</td>
            <td>None</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Mark A.</td>
            <td>May/Jun 2020</td>
            <td>None</td>
            <td>None</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Rachel M.</td>
            <td>May/Jun 2020</td>
            <td>None</td>
            <td>None</td>
          </tr>
        </table>
      </div>

  </div>
  <br>