<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M2VGGR3');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2VGGR3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div>
    <div class="row border">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
        <img [src]="helen" alt="image" height="735" width="">
      </div>
      <div class="col-md-4">
        <br>
        <p><b><h3>Helen</h3></b></p>
        <p>Helen plays tennis, loves acting and wandering in the outdoors.  Taylor Swift is her favorite muscial artist.  She also, unbelievable living in TX, became a New England Patriots fan.  
          She wants to be an Engineer at NASA when she grows up.</p>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  
    <div class="row border">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
          <img [src]="persephone" alt="image" height="735" width="">
        </div>
        <div class="col-md-4">
          <br>
          <p><b><h3>Persephone</h3></b></p>
          <p>Persephone loves ballet, acting and of course puppies! Although, she does not play in a league she loves to play pick up soccer games with the family on the weekends.  
            She also loves Taylor.  She just finished reading the Harry Potter books, so is on the hunt for a new series.  Persephone loves Stranger Things on Netflix as well 
            and really wants to be an actress when she grows up. Eleven is her hero!</p>
        </div>
        <div class="col-md-2">
        </div>
      </div>
  
      <!-- <div class="row border">
          <div class="col-md-2">
          </div>
          <div class="col-md-6">
            <img [src]="april" alt="image" height="735" width="">
          </div>
          <div class="col-md-4">
            <br>
            <p><b><h3>April</h3></b></p>
            <p>April loves art, acting, reading and Pokemon. April has not decided exactly how yet, but she wants to work with animals when she gets older.</p>
          </div>
          <div class="col-md-2">
          </div>
        </div> -->
  
    </div>
    <br>
  </body>

  