<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M2VGGR3');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2VGGR3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container">
    <div>
      <div class="row center">
        <div class="d-flex"></div>
        <div class="mt-4">
          <img [src]="zeedonk" alt="image" class="image-fluid" height="" width="">
          <br><br>
          <div class="text-center">
          <h2>Making the World <i><b>Shibarrific</b></i> one puppy at a time!</h2>
        </div>
      </div>
    </div>
  <br>
  <div>
  <div class="row">
      <div class="col-md-4 text-center">
          <h3>Our Story</h3>
          <p>We are sisters living in Frisco, TX. We love Shiba Inus and want to share their unique and 
            playful spirit with as many families as possible.</p>
      </div>
      <div class="col-md-4 text-center">
          <h3>Our Goal</h3>
          <p>Raise money for our college educations by connecting healthy, happy and well socialized Shiba Inu puppies to loving families.</p>
      </div>
      <div class="col-md-4 text-center">
          <h3>Our Puppies</h3>
          <p>Our puppies come with vaccinations, vet check and AKC Basic Puppy Registration Package.</p>
      </div>
  </div>
  
  </div>
  <div class="text-center">
      <br><br>
      <b><h4>Come see us in person...</h4></b>
      <p><p>We set up puppy visits by appointment only.  Call today to set up a date!</p>
      <br><br>
      <b><h4>Shiba Divas' Puppies</h4></b>
      <p><p>Serving Dallas, Fort Worth, Plano, Richardson, Frisco and the greater DFW area</p>
      <p><p>Phone: (770) 361-0820 or (770) 780-5011</p>
      <p><p>Email: shibadivaspuppies@gmail.com</p>
  </div>
  </div>
</div>
  <br>
  <br>

</body>
