<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7827027680902383",
      enable_page_level_ads: true
    });
  </script>
</head>
<div class="container">
  <div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="">
        <img [src]="zeedonk" alt="image" height="735" width="">
        <br><br>
        <div class="text-center">
        <h2>Making the World <i><b>Shibarrific</b></i> one puppy at a time!</h2>
      </div>
    </div>
  </div>
<br>
<div>
<div class="row">
    <div class="col-md-4">
        <h3>Our Story</h3>
        <p>We are sisters living in Frisco, TX. We love Shiba Inus and want to share their unique and 
          playful spirit with as many families as possible.</p>
    </div>
    <div class="col-md-4">
        <h3>Our Goal</h3>
        <p>Raise money for our college educations by connecting healthy, happy and well socialized Shiba Inu puppies to loving families.</p>
    </div>
    <div class="col-md-4">
        <h3>Our Puppies</h3>
        <p>Our puppies come with vaccinations, vet check and AKC Basic Puppy Registration Package.</p>
    </div>
</div>

</div>
<div class="text-center">
    <br><br>
    <b><h4>Come see us in person...</h4></b>
    <p><p>We set up puppy visits by appointment only.  Call today to set up a date!</p>
    <br><br>
    <b><h4>Shiba Divas' Puppies</h4></b>
    <p><p>Frisco, TX</p>
    <p><p>Phone: (770) 361-0820 or (770) 780-5011</p>
    <p><p>Email: shibadivaspuppies@gmail.com</p>
</div>
</div>
<br>
<br>