<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7827027680902383",
      enable_page_level_ads: true
    });
  </script>
</head>
<div class="container mt-4">
    <h2><b>Shiba Inu Characteristics</b></h2>
    <br>
    <h3><b>General Temperament / Appearance</b></h3>
    <br>
    <div class="row">
    <div class="col-md-4">
      <img [src]="shiba" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
    </div>
    <div class="col-md-8">
    <h4>
      <p class="text-justify">The Shiba is the smallest of the Japanese native breeds of dog and was originally developed for hunting by sight 
      and scent in the dense undergrowth of Japan’s mountainous areas. Alert and agile with keen senses, he is also an
      excellent watchdog and companion. His frame is compact with well-developed muscles. Males and females are distinctly 
      different in appearance: males are masculine without coarseness, females are feminine without weakness of structure.
      </p>
    </h4>
    </div>
    </div>
    <br>
    <h3 style="text-align:right"><b>Physical Characteristics / Lifespan</b></h3>
    <br>
    <div class="row">
    <div class="col-md-8">
    <h4>
      <h4><u>Height</u></h4>
      <p class="text-justify">Male: 14–17 inches (35–43 cm), Female: 13–16 inches (33–41 cm)
      </p>
      <h4><u>Weight</u></h4>
      <p class="text-justify">Male: 18–24 lbs (8–11 kg), Female: 15–20 lbs (6.8–9 kg)
      </p>
      <h4><u>Lifespan</u></h4>
      <p class="text-justify">12 – 15 years
      </p>
      <h4><u>Colors</u></h4>
      <p class="text-justify">Black & Tan, Red Sesame, Cream, Black Sesame, Red, Sesame
      </p>
    </h4>
    </div>
    <div class="col-md-4">
        <img [src]="shiba1" alt="image" height="275" width="375" class="center img-thumbnail rounded-circle mx-auto">
      </div>
    </div>
    <br>
    <h3><b>Fur / Coat</b></h3>
    <br>
    <div class="row">
    <div class="col-md-4">
      <img [src]="shiba2" alt="image" height="275" width="375" class="center img-thumbnail mx-auto">
    </div>
    <div class="col-md-8">
    <h4>
      <p class="text-justify">Double coated with the outer coat being stiff and straight and the 
        undercoat soft and thick. Fur is short and even on face, ears, and legs. Guard hairs stand off the body are 
        about 1½ to 2 inches in length at the withers. Tail hair is slightly longer and stands open in a brush. It is 
        preferred that the Shiba be presented in a natural state.  Unfortunately, Shibas are not hypoallergenic.  Shibas 
        shed lightly twice a year: once in the spring and once in the fall.  
      </p>
    </h4>
    </div>
    </div>
    <br>
</div>
